<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${pic.imgKeywords}]]</title>
<meta name="keywords" content="${pic.imgKeywords}">
<meta name="description" content="${pic.imgKeywords},4k高清壁纸,4k图片,4k,5k,6k,7k,8k高清壁纸下载,满足你的高清电脑壁纸需求">
<link th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/static/img/pineapple.png}" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<!--    <script type="text/javascript" th:src="http://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>-->

<script>
    $(function(){
        $('#img').click(function(){
            $('a[data-id]').click();
            return false;
        });
    });

</script>
</head>
<body>
<div class="header"><div class="head">
<ul class="nav">
    <li><a class="nav-link">导航页</a></li>
    <li><a class="nav-link">壁纸</a></li>
    <li><a class="nav-link">评书</a></li>
    <li><a class="nav-link">视频</a></li>
</ul>
<!--搜索框-->
<div class="search">
    <form  method="post" name="schform" id="schform" action="/search" enctype="application/x-www-form-urlencoded">
        <p>
            <input type="text" name="keyboard" class = "keyboard"value="请输入壁纸名称" onFocus="if(this.value=='请输入壁纸名称') this.value='';" onBlur="if(this.value=='') this.value='请输入壁纸名称';" autocomplete="off" />
            <input name="submit"type="submit" value="" class="sub"  />
        </p>
        <input name="tbname" type="hidden" value="photo" />
        <input name="show" type="hidden" value="title" />
    </form>
</div>
<div class="loginbar">
    <a class="in" href="/QRCode_login" target="_blank">登录</a>
    <div id="login_opacity_bg"></div>
</div>
</div>
</div>

<div class="wrap clearfix">
<div id="main">
<!-- 改变图片内容 -->
<div class="photo">
	<div class="view">
		<div class="photo-hd"><h1>[[${pic.imgKeywords}]]</h1></div>
		<div class="photo-pic">
            <a href="" id="img">
                <img th:src="@{/getOne/{a}(a=${pic.imgId})}"
                     th:data-pic="${pic.imgId}"  th:alt="${pic.imgKeywords}"
                     th:title="${pic.imgKeywords}">
            </a>
        </div>
<div class="photo-tags">热门搜索：<a href="http://pic.netbian.com/e/search/result/?searchid=25" target="_blank">星空壁纸</a> <a href="http://pic.netbian.com/e/search/result/?searchid=2446" target="_blank">带鱼屏壁纸</a> <a href="http://pic.netbian.com/e/search/result/?searchid=1224" target="_blank">4K壁纸</a> <a href="http://pic.netbian.com/e/search/result/?searchid=2453" target="_blank">5K壁纸</a> <a href="http://pic.netbian.com/e/search/result/?searchid=377" target="_blank">手机壁纸</a> <a href="http://www.4kbizhi.com/" target="_blank">高清壁纸</a> <a href="http://www.netbian.com/1920x1080/" target="_blank">1920*1080壁纸</a> <a href="https://zhutix.com/tag/win10-zhuti/" target="_blank">Win10主题</a></div><a href="https://zhutix.com/tag/win10-zhuti/" target="_blank">
	</a></div><a href="https://zhutix.com/tag/win10-zhuti/" target="_blank">
</a><div class="side"><a href="https://zhutix.com/tag/win10-zhuti/" target="_blank"></a>
    <div class="downpic">
        <a target="_blank" th:href="@{/download/{d}(d=${pic.imgId})}" th:data-id="${pic.imgId}">下载原图(3840x2160)</a>
    </div>
    		<div class="infor">
              <p>分类 <span> <a target="_blank" href="/4kyouxi/">4K游戏</a> </span> </p>
              <p>尺寸<span>3840x2160</span></p>
              <p>体积 <span>3.39 MB</span></p>
              <p>上传时间<span>2021-07-07 21:37:30</span></p>
            </div>
<div class="kthylc"><img th:src="@{/static/img/083938UWB5E.jpg}" width="300" height="100" border="0"></div>
<div>
    <a href="https://ibaotu.com/guanggao/1-0-0-0-3-1.html?spm=batwyc" target="_blank">
    <img th:src="@{/static/img/220204nzata.jpg}" width="300" height="200" border="0"></a>
    </div>
</div>
</div>
</div>
<div class="photopx">
<div class="photops">
    <a href="https://ibaotu.com/guanggao/1-0-0-0-3-1.html?spm=batw2" target="_blank">
        <img th:src="@{/static/img/233415FevPd.gif}" width="1200" height="90" border="0">
    </a>
</div>
<div id="footer">
    <a>还未备案</a>
</div>
</div> 
</body>
</html>